name: release please

on:
    push:
        branches:
            - v*.x

jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        outputs:
            release_created: ${{ steps.release.outputs.release_created }}
            major: ${{ steps.release.outputs.major }}
            minor: ${{ steps.release.outputs.minor }}
        steps:
            - uses: googleapis/release-please-action@v4
              id: release
              with:
                  release-type: node

    publish:
        runs-on: ubuntu-latest
        needs: release
        if: needs.release.outputs.release_created
        steps:
            - uses: actions/checkout@v4
            - uses: jacobsvante/tag-major-minor-action@v0
              with:
                  major: ${{ needs.release.outputs.major }}
                  minor: ${{ needs.release.outputs.minor }}

    build:
        runs-on: ubuntu-latest
        needs: release
        if: !needs.release.outputs.release_created
        permissions:
            contents: write
            pull-requests: write
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/setup-nvm
            - run: npm ci
            - run: npm run build
            - uses: peter-evans/create-pull-request@v7
              id: pr
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  commit-message: 'build: build dist'
            - run: gh pr merge ${{ steps.pr.outputs.pull-request-number }} --merge --auto --delete-branch
              if: ${{ steps.pr.outputs.pull-request-number }}
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
